*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: 'green';
  padding: 0rem;
  box-sizing: border-box; }
header{
  /* width:100vh; */
  background-size: cover;
  background-position:center;
}

.hero-text-box {
  position:absolute;
  width:1140px;
  top:30%;
  left:6rem;
}

.title-box{
  position:absolute;
  width:1140px;
  top:3rem;
  left:6rem;
}

.row{
  max-width: 1140;
}

.main-nav{
  float:right;
  text-decoration: none;
  list-style: none;
  margin-top:2.5rem;
  margin-right:8rem;
  z-index:10;
  /* border: 1px solid blue; */
}

 .link{
   z-index:5;
   color:blue;
   text-decoration: none;
   border-bottom: 2px solid transparent;
}

.link:hover,
.link:active{
  z-index:5;
  text-decoration: none;
  border-bottom: 2px solid blue;
  transition:border-bottom 0.2s;
}

.circle{
  display:inline-block;
  margin:1rem 1rem 1rem 1rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: red;
  border-radius: 50%;
  z-index:10;
}

.circle:hover{
  background-color: red;
}






.project_title {
  background-color: #0029FF;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 2.5rem;
  padding-right:.5rem;
  padding-left:.5rem;
}

.header-text{
  color: blue;
  display: block;
  width: 70vw;
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: .1rem;
  line-height: 7.5rem;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
