.header{
  height:100vh;
  position: relative;
  &__project-box-title{
    margin-left: 10rem;
    margin-top:5rem
  }
  &__project-box-opening{
    margin-left: 10rem;
    margin-top:0;
    position:relative;
    z-index: 2
  }
  &__text-box{
    position: absolute;
    top:30%;
    left:10%;
  }




  &__logo-box{
    position: absolute;
    top:3rem;
    left:10%;
  }
  &__logo{
    height:6.5rem;
  }
  &__logo:hover{
    animation-name: moveInLeft;
    animation-duration: 3s;
  }

  &__project-box{
    margin-left: 10rem;
    margin-top:3rem;
    width:85vw;
    left:50%;
    // transform:translate(-50%, -50%);
    text-align: left;
  }
  &__project-box-more{
    margin-left: 10rem;
    width:85vw;
    left:50%;
    padding-top: 6rem;


    // transform:translate(-50%, -50%);
    text-align: center;
  }

  &__project-box-opening-hcs{
    margin-left: 10rem;
    bottom:500rem;
    width:85vw;
    left:50%;
    // transform:translate(-50%, -50%);
    text-align: left;
  }
}
