.bg-video{
  position:relative;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:-1000;
  opacity:4;
  playbackRate:0.5;
  filter: grayscale(100%);
  text-align:center;


  &__content{
    width:50%;
    height:50%;
    object-fit:cover;
  }

}
