.bg-video{
  position:relative;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:-1000;
  opacity:4;
  // filter: grayscale(100%);
  text-align:center;
  &__content{
    width:80%;
    height:80%;
    object-fit:cover;
  }

}
