.u-center-text{
  text-align: center;
}


.u-margin-bottom-big{
  margin-bottom:8rem;

}

.u-margin-bottom-medium{
  margin-bottom:4rem;

}

.u-margin-bottom-small{
  margin-bottom:1.5rem;
}

.overlay{
  width:$grid-width;
  height:100%;
}

.link{
  background-color:#0029FF;
  text-decoration:none;
  color:$color-white;
}
.linkR{
  background-color:red;
  text-decoration:none;
  color:$color-white;
}
.linkA{
  background-color:none;
  text-decoration:none;
  color:#0029FF;
}
.linkR-in{
  background-color:#0000FF;
  text-decoration:none;
  color:$color-white;
  padding-right:.5rem;
  padding-left:.5rem;
  font-weight:400;
}
.link_title{
  background-color:#36FF37;
  text-decoration:none;
  color:$color-black;
  font-weight:100;
}
.link_side{
  font-size:1rem;
  color:blue;
  margin-top:6rem;
  text-align: center;
  font-weight:100;
  transform: rotate(-90deg);
  z-index:1000;
  text-decoration:none;


}

.link:hover{
  // text-decoration:underline;
}

.end{
  padding:3rem;
  color:#0029FF;
  background-color:white;
  text-align: center;
}
