.section-project{
  background-color:$color-white;
  padding:5rem 0;
  // margin-top: -20vh;
}

.section-title{
  background-color:$color-white;
  margin-top:0rem;
  margin-bottom:0rem;
  // margin-top: -20vh;
}

.section-page1{
  // background-color:$color-white;
  margin-bottom:0rem;
  // margin-top: -20vh;
}

.project-image_main{
  text-align: center;
  z-index: 1
}
.work-image-title{
  width:60%;
  position:relative;
  margin-bottom:10rem
}




.work-image{
  width:100%;
}
.work-image-ribbon{
  width:100%;
}


.work-image-title-hcs{
  width:70%;
  position:relative;


}

.work-image-gif{
  width:70%;
}


.section-open-ribbon{
  text-align: center;
  z-index: 1;
  margin-bottom:-15rem;
}

.section-ribbon{
  position:relative;
}

.section-border{
border-bottom: 1px solid lightgrey;
width:50%;
margin-left: auto;
margin-right: auto;
}

.section-border-open{
border-bottom: 1px solid lightgrey;
width:50%;
margin-left: 7%;
margin-bottom: 2%;



}
