.section-project{
  background-color:$color-white;
  padding:5rem 0;
  // margin-top: -20vh;
}



.work-image{
  width:100%;
}
.work-image-ribbon{
  width:100%;
}

.work-image-title{
  width:80%;
  position:relative;
}

.work-image-title-hcs{
  width:70%;
  position:relative;


}

.work-image-gif{
  width:70%;
}

.section-open{
  text-align: center;
  z-index: 1
}
.section-open-ribbon{
  text-align: center;
  z-index: 1;
  margin-bottom:-15rem;
}

.section-ribbon{
  position:relative;
}

.section-border{
border-bottom: 1px solid lightgrey;
width:50%;
margin-left: auto;
margin-right: auto;
}

.section-border-open{
border-bottom: 1px solid lightgrey;
width:50%;
margin-left: 7%;
margin-bottom: 2%;



}
